.card{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 220px;
    height: 350px;
    background-color: #ffff;
    .img-container{
        width: 150px;
        img{
            width: 100%;
            height: 150px;
            object-fit:fill;
            margin: 5px;
        }
    }

    .sub-card{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        p{
            color: rgb(0, 0, 0);
            float: right;
            position: relative;
            font-size: 18px;
            font-weight: bold;
            top: 20px;
            margin: 15px;
        }
    }
}